body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#legend {
   #legend {
    position: absolute;
    bottom: 30px;
    left: 10px;

    background: rgba(248,245,238,0.80);

    color: #2f4f2f;

    padding: 10px 15px;

    border-radius: 8px;

    backdrop-filter: blur(5px);

    font-family: Arial, sans-serif;
    font-size: 14px;

    box-shadow: 0 0 8px rgba(0,0,0,0.2);

    z-index: 9999;
}

#legend h4 {
    margin: 0 0 8px 0;
    font-size: 16px;
    color: #2f4f2f;
}

.campground-dot,
.entrance-dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 8px;
}

.campground-dot {
    background: #2E8B57;
}

.entrance-dot {
    background: #D95F02;
}

#title {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    background: rgba(248,245,238,0.80);

    color: #2f4f2f;

    padding: 10px 20px;

    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;

    border-radius: 8px;

    backdrop-filter: blur(5px);

    box-shadow: 0 0 8px rgba(0,0,0,0.2);

    z-index: 9999;
}
